@font-face {
  font-family: "P22 Johnston Underground"; /* set name */
  src: url(../fonts/underground.woff); /* url of the font */
}

@font-face {
  font-family: "P22 Johnston Underground Light"; /* set name */
  src: url(../fonts/underground-light.woff2); /* url of the font */
}


:root, body {
  font-family: "P22 Johnston Underground Light", sans-serif;
  line-height: 150%;
  color: black;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "P22 Johnston Underground", sans-serif;
  line-height: 100%;
  color: #000099;
}

a{
 color: #0098d8;
}

a:visited {
    color: #000099;
}

h1 {
    text-align: center;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#content {
    text-align: left;
    max-width: 30em;
    margin: 1em auto;
}

#content p {
  margin-left: 2em;
}

.nowrap {
  white-space: nowrap;
}
